---
date: 2026-09-25
topic: 工具折腾
title: 解决 Grok Bot 中国大陆手机号无法验证问题
draft: false
images:
  - src: ../../assets/journal/grok-support.webp
    caption: 邮件往来。
  - src: ../../assets/journal/grok-subscription.webp
    caption: 退订 SuperGrok。
---

直接发邮件要求解决，然后退订 SuperGrok，会非常快地给你解决 hhh🐶
